.DS_Store
districts.topojson
node_modules/
daily-tweet-preview.png
data/output/
social/out/
social/card/
social/*.mp4
social/teaser-1/out/
social/teaser-1/teaser-1*.html
social/teaser-2/out/
social/teaser-2/teaser-2*.html
social/teaser-3/out/
social/teaser-3/teaser-3*.html
social/teaser-4/out/
social/teaser-4/teaser-4*.html
social/teaser-5/out/
social/teaser-5/teaser-5*.html
social/daily-district-card/
